* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
            135deg,
            hsl(170deg, 80%, 70%),
            hsl(190deg, 80%, 70%),
            hsl(250deg, 80%, 70%),
            hsl(320deg, 80%, 70%)
    );
    background-size: 200% 200%;
    animation: gradient-move 8s ease alternate infinite;
}

@keyframes gradient-move {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

main {
    position: relative;
    top:200px;
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

h1 {
    font-size: 72px;
    color: white;
}

h2 {
    color: hsl(0deg, 0%, 80%);
    font-size: 18px;
    margin-top: 18px;
}
.box {
    outline: none;
    border-width: 0;
    max-width: 270px;
    width: 270px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    font-size: 17px;
    font-weight: 600;
    color:hsl(251, 44%, 30%);
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.box:hover, .box:focus, .input-group:hover .box ,.box::-moz-focus-outer{
    outline: none;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    color:hsl(251, 44%, 30%);
    border-width: 0;
    border-color: #05060f;
}

.button{
    align-items: center;
    appearance: none;
    background-color: #05060f0a;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: hsl(0, 2%, 77%);
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}

.button:hover {
    background: #05060f0a;
    color: hsl(0, 0%, 100%);
    transform: scale(1.05);
    -ms-transform: scale(1.05);
}

.subcontainer{
    text-align: center;
}


